@model WebUI.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MidlleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MidlleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassportDta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassportDta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegionOrCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegionOrCity.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DistrictOrCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DistrictOrCity.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountrysideOrCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountrysideOrCity.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Village)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Village.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.House)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.House)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Flat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Path)
        </dt>
        <dd class = "col-sm-10">
            @foreach (Avatar item1 in @ViewBag.Avatars)
            {
                <div class="carousel-item active">
                    <img src="@item1.Path" alt="" />
                </div>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
